{% extends "layout.html" %}

{% block content %}

<head>
    <title>{{ title }}</title>
  </head>

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h2>Create and Explore</h2>
<p>
    UMDAlive is an open-source project that drives to connect students 
    by allowing them to create and join clubs. 
    You may <a href="{{ url_for('allClubs') }}">browse though our catalog</a> 
    of UMD clubs and find students that share your interests.
    Don't see a club you want to join? Have a new idea? 
    <a href="{{ url_for('create') }}">Create your own club!</a>
</p>

<h2>Stay Connected</h2>
<p>UMDAlive allows you to stay connected with your friends by having 
    club based pages that provide a place to schedule events, 
    communicate ideas, and just plain have fun. You can hop over 
    to your <a href="{{ url_for('myClubs') }}">My Clubs </a> page 
    to see the clubs you are engaged in, where you can check out 
    the latest activity on your favorite club pages.
</p>  

<h2>Long-Term Goals</h2>
<p>The long-term goal of UMDAlive, meaning the name is a bit of a 
    misnomer, is to connect students from any universities, based 
    on relative location. We hope to extend this platform to other 
    Minnesotan universities, then to a national basis, and perhaps 
    further if we can gather support and interest Thus, it is not our 
    intention to center UMDAlive around the University of Minnesota, 
    but rather use UMD as a base-line with which to grow from.</p>

{% endblock %}
